services:
  # Service untuk Aplikasi Web Laravel
  - type: web
    name: edumap-app
    env: php
    plan: free
    buildCommand: |
      composer install --no-dev --prefer-dist --optimize-autoloader
      npm install
      npm run build
      php artisan storage:link
      php artisan config:cache
      php artisan migrate --force
    startCommand: php-fpm
    envVars:
      - key: APP_URL
        fromService:
          type: web
          name: edumap-app
          property: url
      - key: APP_KEY
        generateValue: true
      - key: APP_ENV
        value: production
      - key: DB_CONNECTION
        value: pgsql
      - key: DB_HOST
        fromService:
          type: pserv
          name: edumap-db
          property: host
      - key: DB_PORT
        fromService:
          type: pserv
          name: edumap-db
          property: port
      - key: DB_DATABASE
        fromService:
          type: pserv
          name: edumap-db
          property: database
      - key: DB_USERNAME
        fromService:
          type: pserv
          name: edumap-db
          property: user
      - key: DB_PASSWORD
        fromService:
          type: pserv
          name: edumap-db
          property: password

  # Service untuk Database
  - type: pserv
    name: edumap-db
    env: postgres
    plan: free